<div class="sunruse-panels-title">About this demo</div>
<p>SUNRUSE.panels is built using <a href="https://jquery.com" class="sunruse-panels-external">jQuery</a>.</p>
<p>This demo is built using <a href="http://leaverou.github.io/prefixfree/" class="sunruse-panels-external">-prefix-free</a> to enable cross-browser styling.  This font is <a href="https://www.google.com/fonts/specimen/Open+Sans+Condensed" class="sunruse-panels-external">Open Sans Condensed</a> by <a href="https://profiles.google.com/107777320916704234605/about" class="sunruse-panels-external">Steve Matteson</a>, hosted by <a href="https://www.google.com/fonts" class="sunruse-panels-external">Google Fonts</a>.</p>