* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font-family: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    font-style: normal;
    user-select: none;
    cursor: default;
}