<div class="sunruse-panels-title">Getting started</div>
<div class="scroller">
    <p>SUNRUSE.panels is a framework for making panel-based UIs similar to Visual Studio or Ace.</p>
    <p>Use the controls in the upper right to manipulate this panel:</p>
    <ul>
        <li>Display <em>f</em>ullscreen</li>
        <li>Wrap in <em>t</em>abs</li>
        <li>Wrap in <em>h</em>orizontal splitter</li>
        <li>Wrap in <em>v</em>ertical splitter</li>
    </ul>
    <p>You may drag the titles of panels into other panels to swap them.</p>
    <p><a href="use-sunruse-panels.html">Use SUNRUSE.panels in your own single-page-applications...</a></p>
    <p><a href="about.html">About SUNRUSE.panels...</a></p>
</div>