.sunruse-panels-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.sunruse-panels-future, .sunruse-panels-past {
    display: none;
}

.sunruse-panels-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    bottom: 0;
}

.sunruse-panels-panel.sunruse-panels-left {
    right: 50%;
}

.sunruse-panels-panel.sunruse-panels-right {
    left: 50%;
}

.sunruse-panels-panel.sunruse-panels-top {
    bottom: 50%;
}

.sunruse-panels-panel.sunruse-panels-bottom {
    top: 50%;
}           

.sunruse-panels-split-bar {
    position: absolute;
}

.sunruse-panels-panel.sunruse-panels-right ~ .sunruse-panels-split-bar {
    right: 50%;
    top: 0;
    bottom: 0;
}            

.sunruse-panels-panel.sunruse-panels-bottom ~ .sunruse-panels-split-bar {
    bottom: 50%;
    left: 0;
    right: 0;
}                        

.sunruse-panels-panel.sunruse-panels-fullscreen {
    position: fixed;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.sunruse-panels-panel.sunruse-panels-fullscreen .sunruse-panels-fullscreen {
    display: none;
}

:not(.sunruse-panels-fullscreen) > .sunruse-panels-restore {
    display: none;
}

.sunruse-panels-close-tab {
    display: none;
}

.sunruse-panels-add-tab ~ .sunruse-panels-panel > .sunruse-panels-close-tab {
    display: block;
}