body {
    background: darkslategrey;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

button:not(:disabled), a:not(:disabled), .sunruse-panels-title {
    touch-action: none;
    cursor: pointer;
}

button:hover:not(:disabled), a:hover:not(:disabled), .sunruse-panels-title:hover {
    text-shadow: 0 0 0.1rem white;
}

a {
    font-weight: bold;
}

p, li {
    opacity: 0.9;
}

.header {
    border: 0.125rem solid blue;
}

li {
    list-style: none;
    text-indent: 0.5rem;
}

li:before {
    content: "\261E";
    opacity: 0.5;
    margin-right: 0.25rem;
}

em {
    font-weight: bold;
}

.sunruse-panels-panel {
    position: absolute;
    
    border: 0.0625rem solid white;
    border-radius: 0.5rem;
    
    left: 0.125rem;
    right: 0.125rem;
    top: 0.125rem;
    bottom: 0.125rem;
    
    overflow: hidden;
}

.viewport > .sunruse-panels-panel {
    position: fixed;
    border: none;
}

.sunruse-panels-content {
    position: static;
}

.sunruse-panels-panel.sunruse-panels-right ~ .sunruse-panels-split-bar {
    width: 0.625rem;
    margin-right: -0.375rem;
    border-left: 0.0625rem solid white;
    border-right: 0.0625rem solid white;
    cursor: ew-resize;
}

.sunruse-panels-panel.sunruse-panels-bottom ~ .sunruse-panels-split-bar {
    height: 0.625rem;
    margin-bottom: -0.375rem;
    border-top: 0.0625rem solid white;
    border-bottom: 0.0625rem solid white;
    cursor: ns-resize;
}            

.sunruse-panels-title {
    padding-left: 0.25rem;
    float: left;
    height: 1.5rem;
    line-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.sunruse-panels-panel.sunruse-panels-dragging {
    opacity: 0.5;
}

.sunruse-panels-drag-target {
    opacity: 0.5;
}

.sunruse-panels-panel-header-button {
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    
    text-align: center;
    line-height: 1.5rem;                
}

*:disabled {
    opacity: 0.5;
}

.sunruse-panels-panel.sunruse-panels-left:not(.sunruse-panels-fullscreen) {
    margin-right: 0.3625rem;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sunruse-panels-panel.sunruse-panels-right:not(.sunruse-panels-fullscreen) {
    margin-left: 0.3625rem;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}            

.sunruse-panels-panel.sunruse-panels-top:not(.sunruse-panels-fullscreen) {
    margin-bottom: 0.3625rem;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sunruse-panels-panel.sunruse-panels-bottom:not(.sunruse-panels-fullscreen) {
    margin-top: 0.3625rem;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}        

.sunruse-panels-previous, .sunruse-panels-next {
    float: left;
}

.sunruse-panels-previous:after {
    content: "\21E6";
}

.sunruse-panels-next:after {
    content: "\21E8";
}

.sunruse-panels-wrap-split-vertical:after{
    content:"V";
}

.sunruse-panels-wrap-split-horizontal:after{
    content:"H";
}

.sunruse-panels-wrap-tabs:after{
    content:"T";
}         

.sunruse-panels-fullscreen:not(.sunruse-panels-panel):after{
    content:"F";
}        

.sunruse-panels-restore:after{
    content:"R";
}      

.sunruse-panels-split-bar {
    touch-action: none;
    overflow: hidden;
}

.sunruse-panels-split-bar:hover {
    background: radial-gradient(transparent, goldenrod);
}

.sunruse-panels-split-bar.sunruse-panels-dragging {
    background: radial-gradient(transparent, orange);
}

.sunruse-panels-split-bar > * {
    position: absolute;
    text-align: center;
    font-size: 0.5rem;
}

.sunruse-panels-panel.sunruse-panels-right ~ .sunruse-panels-split-bar > * {
    width: 0.625rem;
    height: 2rem;
    line-height: 1.875rem;
    border-top: 0.0625rem solid white;
    border-bottom: 0.0625rem solid white;
}

.sunruse-panels-panel.sunruse-panels-right ~ .sunruse-panels-split-bar > .sunruse-panels-merge-before {
    top: 1rem;
}

.sunruse-panels-panel.sunruse-panels-right ~ .sunruse-panels-split-bar > .sunruse-panels-merge-after {
    bottom: 1rem;
}

.sunruse-panels-panel.sunruse-panels-right ~ .sunruse-panels-split-bar > .sunruse-panels-turn {
    bottom: 50%;
    margin-bottom: -1rem;
}

.sunruse-panels-panel.sunruse-panels-bottom ~ .sunruse-panels-split-bar > * {
    height: 0.625rem;
    width: 2rem;
    line-height: 0.625rem;
    border-left: 0.0625rem solid white;
    border-right: 0.0625rem solid white;
}

.sunruse-panels-panel.sunruse-panels-bottom ~ .sunruse-panels-split-bar > .sunruse-panels-merge-before {
    left: 1rem;
}

.sunruse-panels-panel.sunruse-panels-bottom ~ .sunruse-panels-split-bar > .sunruse-panels-merge-after {
    right: 1rem;
}

.sunruse-panels-panel.sunruse-panels-bottom ~ .sunruse-panels-split-bar > .sunruse-panels-turn {
    right: 50%;
    margin-right: -1rem;
}

.sunruse-panels-panel.sunruse-panels-bottom ~ .sunruse-panels-split-bar > .sunruse-panels-merge-before:after {
    content: "\2191";
}

.sunruse-panels-panel.sunruse-panels-bottom ~ .sunruse-panels-split-bar > .sunruse-panels-merge-after:after {
    content: "\2193";
}

.sunruse-panels-panel.sunruse-panels-right ~ .sunruse-panels-split-bar > .sunruse-panels-merge-before:after {
    content: "\2190";
}

.sunruse-panels-panel.sunruse-panels-right ~ .sunruse-panels-split-bar > .sunruse-panels-merge-after:after {
    content: "\2192";
}

.sunruse-panels-turn:after {
    content: "\21BB";
}

.sunruse-panels-close-tab:after {
    content: "\2715";
}

.sunruse-panels-add-tab:after {
    content: "\FF0B";
}

.sunruse-panels-panel.sunruse-panels-fullscreen {
    background: darkslategrey;
    border: 0.25rem solid white;
    left: 0.25rem !important;
    right: 0.25rem !important;
    top: 0.25rem !important;
    bottom: 0.25rem !important;
    z-index: 1;
}

.sunruse-panels-title {
    position: absolute;
    top: -1.5rem;
    left: 0;
    right: 5.5rem;
}

.sunruse-panels-active > .sunruse-panels-content > .sunruse-panels-title {
    right: 7rem;
}

.sunruse-panels-previous ~ .sunruse-panels-content > .sunruse-panels-title {
    left: 2.5rem;
}

.sunruse-panels-content {
    position: absolute;
    left: 0.375rem;
    right: 0.375rem;
    top: 1.5rem;
    bottom: 0.375rem;
}

.scroller {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.sunruse-panels-add-tab ~ .sunruse-panels-panel:not(.sunruse-panels-active) {
    position: relative;
    float: left;
    border: none;
    top: -1.5rem;
    
    margin-left: 2.75rem;
}

.sunruse-panels-add-tab ~ .sunruse-panels-panel:not(.sunruse-panels-active) ~ .sunruse-panels-panel {
    margin-left: 0;
}

.sunruse-panels-add-tab ~ .sunruse-panels-panel:not(.sunruse-panels-active) > :not(.sunruse-panels-content):not(.sunruse-panels-close-tab) {
    display: none;
}

.sunruse-panels-add-tab ~ .sunruse-panels-panel:not(.sunruse-panels-active) > .sunruse-panels-content {
    position: static;
    float: left;
}

.sunruse-panels-add-tab ~ .sunruse-panels-panel:not(.sunruse-panels-active) > .sunruse-panels-content > :not(.sunruse-panels-title) {
    display: none;
}

.sunruse-panels-add-tab ~ .sunruse-panels-panel:not(.sunruse-panels-active) > .sunruse-panels-content > .sunruse-panels-title {
    position: static;
    float: left;
    max-width: 10rem;
    height: 1.5rem;    
}

.sunruse-panels-add-tab ~ .sunruse-panels-panel:not(.sunruse-panels-active) > .sunruse-panels-close-tab {
    position: static;
    float: left;
}

.sunruse-panels-add-tab {
    position: absolute;
    top: -1.5rem;
    left: 1.75rem;
}

.sunruse-panels-add-tab ~ .sunruse-panels-panel:not(.sunruse-panels-active) > .sunruse-panels-content > .sunruse-panels-title {
    padding-left: 0;
}