<div class="sunruse-panels-title">Tags with a class of "sunruse-panels-title" will be filtered and used to title the panel</div>
<div class="scroller">
    <p>
    Voila!  As this is loaded directly into the DOM of the parent page you can
    access the JavaScript running on it and any jQuery selectors will see these
    elements.
    </p>
    <p>
    Each panel also gets its own page history; use the backwards/forwards buttons
    above to make use of this.
    </p>
    <p>
    Try a <a href="test-page-2.html">subsequent page</a> if you wish.
    </p>
</div>