<div class="sunruse-panels-title">Use SUNRUSE.panels in your own single-page-applications</div>
<div class="scroller">
    <p>Include SUNRUSE.panels.js, SUNRUSE.panels.css and a theme stylesheet.  Call SUNRUSE.panels() with the following arguments:</p>
    <ul>
        <li>A jQuery object identifying a viewport to display panels in</li>
        <li>A URL to load into new panels</li>
        <li>A jQuery object describing DOM elements to use when a panel's content cannot be loaded</li>
    </ul>
    <p>Include a div with a class of "sunruse-panels-title" to set the title of the panel.</p>
    <p><a href="test-page.html">Links</a> will be automatically intercepted and loaded into the panel using AJAX.</p>
    <p>For <a class="sunruse-panels-external" href="https://www.google.com/">external links</a>, add the "sunruse-panels-external" class to disable interception.</p>    
</div>